/* ===COLOR=== */
$assetsColor:#4C85FF;
$primaryColor: #fff;
$secondaryColor: #D2E1FF;
$titleColor:#3D4F9F;
$textColor: #8D96BD;
$textColorLight: #ADB3CB;
$linkColor: #697CA6;
$btnColor: #3A79FF;
$bgColor: #F5F8FF;


/* ===MEDIA=== */
$breakpoints:(
    xs: 576px,
    sm: 768px,
    md: 1280px,
    lg: 1440px
);
