.help {
    padding: 175px 0;

    @font-face {
        font-family: "RobotoMedium";
        src: url("./../assets/fonts/Roboto-Medium.ttf") format("truetype");
    }
    @font-face {
        font-family: "RobotoRegular";
        src: url("./../assets/fonts/Roboto-Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: "QuicksandMedium";
        src: url("./../assets/fonts/Quicksand-Medium.ttf") format("truetype");
    }
    @font-face {
        font-family: "QuicksandBold";
        src: url("./../assets/fonts/Quicksand-Bold.ttf") format("truetype");
    }

    
}

.title {
    color: #3D4F9F;
    margin-bottom: 68px;
}

.title__text {
    font-family: "RobotoMedium", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.title__slogan {
    font-family: "QuicksandMedium", sans-serif;
    font-size: 24px;

}

.help__card {
    border: none !important;
    border-bottom: 1px solid #D8E3FE !important;
}

.help__card-header {
    background-color: transparent;
    padding: 17px 17px 15px;
    border: none !important;
}

.help__card-title {
    height: 45px;
    display: flex;
    align-items: center;
    font-family: "QuicksandBold", sans-serif;
    color: #495274;
    font-size: 15px;
    letter-spacing: .5px;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.help__card-btn {
    height: 12px;
    width: 20px;
    background-image: url(../images/help/arrow-open.svg);
    background-repeat: no-repeat;
    margin-right: 24px;
}

.help__card-btn.collapsed {
    background-image: url(../images/help/arrow.svg);
    background-repeat: no-repeat;
}

.help__card-btn.collapsed + .help__card-title-text {
    color: #8E96B7;
    font-family: "QuicksandMedium", sans-serif;
}

.help__card-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 10px 50px 72px;
}

.help__card-text {
    font-family: "RobotoRegular", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #8D96BD;
    line-height: 1.9;
    margin-right: 60px;
}

.help__card-body-btn {
    height: 42px;
    min-width: 195px;
    background-color: #E8ECF4;
    font-family: "QuicksandMedium", sans-serif;
    font-size: 13px;
    color: #7382A3;
    border: none;
    margin-top: 5px;
    border-radius: 2px;
}

.help__card-body-btn:focus {
    outline: 1px solid transparent;
}