.reviews {
    padding: 100px 0 100px 0;
    font-family: 'Quicksand', sans-serif;
    background-color: $bgColor;

    &__carousel{
        max-width: 420px;
    }

    &__carousel-indicators{
        position: absolute;
    }

    &__carousel-clik {
        width: 8px !important;
        height: 8px !important;
        margin-right: 10px !important;
        background-color: $assetsColor !important;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

    &__subtitle {
        @include font (10px, 500, 11px, $titleColor);
    }

    &__title {
        margin-top: 30px;
        @include font (36px, 500, 45px, $titleColor);
    }

    &__text {
        @include font (12px, 600, 22px, $textColor);
    }
    &__carousel-inner{
        min-height: 260px;
    }

    &__box {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 70px;
        max-width: 420px;
        width: 100%;
        background-color: $primaryColor;
    }
    &__text-box{
        @include font (14px, 400, 23px, $textColor);
    }

    &__box-img {
        position: absolute;
        bottom: -30px;
        z-index: 9999;
    }
}